.add-todo {
  display: flex;
  align-items: center;
  background-color: var(--colors-todo-bg);
  padding: var(--children-padding-block) var(--children-padding-inline);
  border-radius: 5px;
  color: var(--colors-text-primary);
  border: 0.1px solid  var(--colors-completed-todo);
}
.add-todo > input {
  padding-inline: var(--children-gap);
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  caret-color: var(--colors-tab-active);

}

.add-todo > input::placeholder {
  color: var(--colors-text-secondary);
  opacity: 1;
}


.outline-circle {
  width: 1.25em;
  height: 1.25em;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid var(--colors-completed-todo);
}

.icon-btn {
  display: grid;
  place-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.icon-btn:active {
  background-color: rgba(0, 0, 0, 0.2);
}